<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header class="tools">
        <span>Tanks information</span>

      </nb-card-header>
      <nb-card-body>
          <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
            <tr>
            <th scope="col">Tank code</th>
            <th scope="col">Tank name</th>
            <th scope="col">capacity</th>
            <th scope="col">tanks type</th>
            <th scope="col">description</th>
            <th scope="col">status</th>
            <th scope="col">Oil Type</th>
            <th scope="col">delete</th>
            <th scope="col">edit</th>

            </tr>
            </thead>
            <tbody>
              <!-- *ngFor loop iterates over the tanks list and fetch the tanks's data -->
              <tr *ngFor="let tank of Tanks">
                  <td>{{tank.code}}</td>
                  <td>{{tank.name}}</td>
                  <td>{{tank.capacity}}</td>
                  <td>{{tank.typeOfTank}}</td>
                  <td>{{tank.description}}</td>
                  <td>{{tank.status}}</td>
                  <td>{{tank.oilType}}</td>
                  <td class="action-block">
                      <a (click)="delete(tank)" class="btn btn-icon text-primary">
                        <i class="nb-trash"></i>
                      </a>
                    </td>
                    <td class="action-block">
                      <a routerLink="/pages/tanks/edit/{{tank.$key}}" class="btn btn-icon text-primary">
                        <i class="nb-edit"></i>
                      </a>
                    </td>
              </tr>
          </tbody>
          </table>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
