<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Update tank information</nb-card-header>
      <nb-card-body>


        <form [formGroup]="editTankForm" (ngSubmit)="submitData()" novalidate>
          <label>code: </label>
          <input type="text" formControlName="code" class="form-control" required>
          <label>name: </label>
          <input type="text" formControlName="name" class="form-control" required>
          <label>Capacity: </label>
          <input type="text" formControlName="capacity" class="form-control" required>
          <label>Type of tank: </label>
          <input type="text" formControlName="typeOfTank" class="form-control" required>
          <label>Description: </label>
          <input type="text" formControlName="description" class="form-control" required>
          <label>Status: </label>
          <input type="text" formControlName="status" class="form-control" required>
          <label>Oil Type: </label>
          <input type="text" formControlName="oilType" class="form-control" required>

          <a class="btn float-right text-primary" (click)="goBack()"><i class="nb-arrow-thin-left btn-icon-fix"></i>Back</a>
          <button type="submit" class="btn btn-success" [disabled]="!editTankForm.valid">Update</button>

        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>