<div>
  <label>code: </label>
  <input type="text" formControlName="code" class="form-control" required>
  <label>name: </label>
  <input type="text" formControlName="name" class="form-control" required>
  <label>Capacity: </label>
  <input type="text" formControlName="capacity" class="form-control" required>
  <label>Type of tank: </label>
  <input type="text" formControlName="typeOfTank" class="form-control" required>
  <label>Longitude: </label>
  <input type="text" formControlName="log" class="form-control" required>
  <label>Latitude: </label>
  <input type="text" formControlName="lat" class="form-control" required>
  <label>Description: </label>
  <input type="text" formControlName="des" class="form-control" required>
  <label>Status: </label>
  <input type="text" formControlName="status" class="form-control" required>
  <label>Oil Type: </label>
  <input type="text" formControlName="oilType" class="form-control" required>
  
</div>