<div class="row">
  <div class="col-lg-8">
    <nb-card [nbSpinner]="preLoader" nbSpinnerStatus="success">
      <nb-card-header class="tools">
        <span>Tank maintenances</span>
        <div>
          <a routerLink="/pages/maintenances/add" class="btn btn-xs btn-success btn-round">Add</a>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="" *ngIf="noData">
            No maintenance record added yet!
        </div>
        <table class="table table-bordered table-striped" *ngIf="hideWhenNoData">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th colspan="2" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of maintenances let i = index;">
              <td scope="row">{{item.$key}}</td>
              <td scope="row">{{item.name}}</td>
              <td scope="row">{{item.description}}</td>
              <td class="action-block">
                <a routerLink="/pages/maintenances/edit/{{item.$key}}" class="btn btn-icon text-primary">
                  <i class="nb-edit"></i>
                </a>
              </td>
              <td class="action-block">
                <a (click)="delete(item)" class="btn btn-icon text-primary">
                  <i class="nb-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
