@import '../../@theme/styles/themes';

$shadow-green: #00977e;

@include nb-install-component() {
  .progress-info {
    color: nb-theme(color-fg-heading);
    margin-top: 1.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .title {
    font-family: nb-theme(font-secondary);
    font-size: nb-theme(font-size-lg);
    font-weight: nb-theme(font-weight-bold);
  }

  .value {
    font-size: 2.2rem;
    font-weight: nb-theme(font-weight-light);
    margin-top: 0.5rem;
  }

  .description {
    color: nb-theme(color-fg);
    margin-top: 0.5rem;
  }

  /deep/ nb-progress-bar {
    margin-top: 0.2rem;

    .progress-container {
      height: 0.8rem;
      border-radius: 0;
    }

    .progress-value {
      height: 0.6rem;
      background: nb-theme(progress-bar-background);

      @include nb-for-theme(cosmic) {
        box-shadow: 0 0.2rem $shadow-green;
      }

      @include nb-for-theme(corporate) {
        height: 100%;
      }
    }
  }

  nb-card-footer {
    padding: 1rem 0;
  }

  nb-action {
    padding: 0 0.5rem 0 0;

    i {
      color: nb-theme(color-fg);
      font-size: 2.5rem;
      margin-right: 0.5rem;
    }

    span {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      text-transform: uppercase;
    }
  }
}
