<nb-card size="xlarge">
    <nb-list>
        <nb-list-item *ngFor="let user of users">
            <div [id]="user.title" #usr>
                <nb-user [name]="user.name" [title]="user.title" [nbContextMenu]="items"
                    nbContextMenuTag="user-view-menu" [nbContextMenuPlacement]="left" nbContextMenuTrigger="click">
                </nb-user>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>


<div class="card" menuTag="user-view-menu" placement="left" >
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>